# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: required
before_install:
  - sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable -y
  - sudo apt-get update -q
  - sudo apt-get install -y libudunits2-dev libv8-3.14-dev libgdal-dev libgeos-dev libproj-dev libudunits2-dev liblwgeom-dev liblwgeom-2.3-0  libgdal20 libspatialite-dev libgeos-c1v5
cache: packages

